asgiref==3.11.1
Django==6.0.2
djangorestframework==3.16.1
gunicorn==25.1.0
mysqlclient==2.2.8
packaging==26.0
pillow==12.1.1
psycopg==3.3.3
psycopg-binary==3.3.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.12.0
